nav {
    background-color: $color-inicio !important;
    a {
        color: white !important;
    }
}
#inicio {
    background-image: url(../img/hands-typing-code-on-laptop.jpg);
    background-attachment: fixed;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 4em;
    img {
        width: 14em;
        height: 14em;
        border-radius: 180em;
    }    
}
h1 {
    color: white;
    span {
        color: $color1;
    }
}
