@media screen and (min-width:425px) {
    #inicio {
        h1 {
            font-size: 2em;
        }
        img {
            @include size(270px, 270px)
        }
    }
    #sobre-mi {
        ul {
            grid-template-areas: 
            "habilidad-1 habilidad-2 habilidad-3"
            "habilidad-4 habilidad-5 habilidad-6"
            ;
        }
    }
}
@media screen and (min-width:768px) {
    #sobre-mi {
        h2 {
            text-align: start;
        }
    }
    .sobre-mi-info {
        p {
            text-align: start;
        }
    }
    .sobre-mi-wrapper {
        display: grid;
        grid-template-areas: 
        "info habilidades"
        ;
    }
    @each $area, $areag in $sobre-mi {
        sobre-mi-#{$area} {
        grid-area: #{$areag}
        }
    }
}
@media screen and (min-width:1024px) {
    .sobre-mi-info {
        h3 {
            text-align: start;
        }
    }
}
@media screen and (min-width:1440px) {
    #inicio {
        img {
            @include size(350px, 350px)
        }
    }
    h1 {
        font-size: 2.5em;
    }
}