* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }

@font-face {
  font-family: mon;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf"); }

.nav-bar {
  top: 0;
  background-color: #181818;
  position: fixed;
  width: 100vw; }
  .nav-bar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0em 1em; }

.nav-logo {
  font-family: mon;
  color: #F2F2F2;
  font-size: 1.7em;
  font-weight: bold;
  margin: 0.3em 0em; }
  .nav-logo span {
    color: #5CB8E4; }

nav ul {
  display: flex;
  justify-content: center;
  align-items: center; }
  nav ul li {
    margin: 0em 0.5em; }
    nav ul li a {
      font-family: mon;
      color: #8758FF;
      font-size: 1.1em; }

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  header img {
    width: 20em;
    height: 20em;
    border-radius: 15em;
    margin: 1em; }

h1 {
  font-family: mon;
  margin: 1em;
  color: #F2F2F2; }
  h1 span {
    color: #8758FF; }
