#about-me {
    @extend #skills;
    h2 {
        margin: 1em;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            p {
                margin: 1em;
                color: $color1;
                font-size: 1.5em;
                font-weight: 500;
            }
        }
        img {
            @include size(20em, 20em);
            margin: 1em;
        }
    }
}

.but-cv {
    margin: 1em;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
      );
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    &:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    &:focus{
        outline: none;
    }
}

@media screen and (max-width:1000px) {
    #about-me {
        div {
            flex-flow: column nowrap;
        }
    }
}

@media screen and (max-width:500px) {
    #about-me {
        div {
            div {
                p {
                    font-size: 1.1em;
                }
            }
            img {
                @include size(15em, 15em);
            }
        }
    }
}