#contact {
    margin: 2em 0em;
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "mail medios"
    ;
    justify-content: center;
    align-items: flex-start;
}

.titulo-contacto {
    display: flex;
    flex-flow: column nowrap;
    grid-area: titulo;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 4em 1em;
    p {
        color: $color3;
        font-weight: bold;
        font-size: 2em;
        font-family: mon;
    }
}

.mail {
    grid-area: mail;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin: 2em 4em;
    form {
        margin: 1em 0em;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        input {
            @include size(30em, 2em);
            margin: 1em 0em;
            border: 1px $color2 solid;
            padding: 0.5em;
        }
        textarea {
            @extend input;
            height: 10em;
            resize: none;
        }
        .enviar-mail {
            width: 160px;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            height: 55px;
            text-align:center;
            border: none;
            background-size: 300% 100%;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            background-image: linear-gradient(
                to right,
                #667eea,
                #764ba2,
                #6b8dd6,
                #8e37d7
              );
            box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
            &:hover {
                background-position: 100% 0;
                moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

.medios-de-contacto {
    width: 21em;
    grid-area: medios;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin: 2em 4em;
    p {
        margin: 1em 0em;
    }
    div {
        margin-bottom: 2em;
        margin-top: 1em;
    }
}

@media screen and (max-width:1000px) {
    #contact {
        grid-template-areas: 
        "titulo"
        "medios"
        "mail"
        ;
    }
    .mail {
        align-items: center;
        justify-content: center;
        form {
            align-items: center;
        }
    }
    .medios-de-contacto {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .titulo-contacto {
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
}

.form-alert-err {
    color: red;
    font-weight: bold;
}

.form-alert-send {
    color: green;
    font-weight: bold;
}