footer {
    background-color: $color1;
    display: grid;
    place-items: center;
    grid-template-areas: 
    "cel-mail redes"
    "cop cop"
    ;
}

.redes {
    grid-area: redes;
    margin: 1em;
    img {
        @include size(2em, 2em);
        margin: 1em;
    }
}

.cel-mail {
    grid-area: cel-mail;
    margin: 1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: left;
}

.copy {
    grid-area: cop;
    color: $color4;
    margin: 1em;
}

.contact-item {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    margin: .4em;
    img {
        @include size(2em, 2em);
        margin: 0.2em;
    }
    p {
        margin: 0.2em;
        color: $color2;
    }
}

@media screen and (max-width:1000px) {
    footer {
        justify-content: center;
        align-items: center;
        grid-template-areas: 
        "redes"
        "cel-mail"
        "cop"
        ;
    }
    .cel-mail {
        align-items: center;
        margin-top: 0;
    }
}

@media screen and (max-width:600px) {
    footer {
        p {
            font-size: .7em;
        }
    }
}