* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

$color1: #181818;
$color2: #8758FF;
$color3: #5CB8E4;
$color4: #F2F2F2;

@mixin size($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@font-face {
    font-family: mon;
    src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: yan;
    src: url('./assets/fonts/Yantramanav-Light.ttf');
}

@for $i from 2 through 4 {
    h#{$i} {
        color: $color2;
        font-family: mon;
    }
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    @extend h3;
}

p {
    font-family: yan;
}