header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: auto;
    img {
        @include size(20em, 20em);
        border-radius: 15em;
        margin: 1em;
    }
}

h1 {
    font-family: mon;
    margin: 1em;
    color: $color4;
    .title-color {
        background: -webkit-linear-gradient($color3, $color2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.texting-container {
    display: inline-block;
}

.texting {
    overflow: hidden;
    border-right: .15em solid;
    white-space: nowrap;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@media screen and (min-width:1500px) {
    header {
        h1 {
            font-size: 3em;
        }
        img {
            @include size(25em, 25em);
        }
    }
}

@media screen and (max-width:1000px) {
    header {
        flex-flow: column nowrap;
        img {
            @include size(15em, 15em);
        }
    }
}

@media screen and (max-width:800px) {
    h1 {
        font-size: 1.5em;
    }
    header {
        img {
            @include size(10em, 10em);
        }
    }
}

@media screen and (max-width:400px) {
    h1 {
        font-size: 1em;
    }
    header {
        img {
            @include size(10em, 10em);
        }
    }
}

@media (orientation: landscape) {
    header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes blinking {
    from { border-color: transparent }
    to { border-color: $color3 }
  }