header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: auto;
    img {
        @include size(20em, 20em);
        border-radius: 15em;
        margin: 1em;
    }
}

h1 {
    font-family: mon;
    margin: 1em;
    color: $color4;
    span {
        background: -webkit-linear-gradient($color3, $color2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media screen and (max-width:1000px) {
    header {
        flex-flow: column nowrap;
        img {
            @include size(15em, 15em);
        }
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 1.5em;
    }
}

@media (orientation: landscape) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }