#skills {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 4em 2em;
}
.skills-container {
    margin: 3em;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.skill {
    margin: 2em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    img {
        @include size(8em, 8em);
    }
    h5 {
        margin: 1em;
    }
}