#work {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
	padding: 2em 0em;
    h2 {
        margin: 1em 0em;
    }
    h3 {
        margin: 1em;
        color: $color3;
    }
}
.container-common {
	display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.services-container {
	@extend .container-common;
    .services {
		display: grid;
		grid-template-areas: 
		"service-1 service-2"
		"service-3 service-4"
		;
        align-items: center;
        justify-content: center;
    }
}
#service-1 {
	grid-area: service-1
}
#service-2 {
	grid-area: service-2
}
#service-3 {
	grid-area: service-3
}
#service-4 {
	grid-area: service-4
}
.service {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 1em;
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1em;
		img {
			@include size(5em, 5em);
			margin: 1em;
		}
		h5 {
			font-size: 2em;
			color: $color3;
		}
	}
    p {
		margin: 1em;
		padding: 2em;
        font-size: 1.3em;
        color: $color4;
		text-shadow: #000 1px 0 20px;
    }
}

.portfolio-container {
	@extend .container-common;
}

.portfolio-card {
	@include size(28em, 13em);
	background-size: cover;
	border-radius: 1em;
	margin: 2em;
	display: flex;
	flex-flow: nowrap;
	align-items: flex-end;
	justify-content: space-between;
	padding: 1em;
	img {
		display: none;
	}
	a {
		@extend .button-1;
		background-color: $color4;
		-webkit-box-shadow: 4px 4px 52px -8px rgba(0,0,0,0.64);
		-moz-box-shadow: 4px 4px 52px -8px rgba(0,0,0,0.64);
		box-shadow: 4px 4px 52px -8px rgba(0,0,0,0.64);
	}
	h5 {
		font-size: 1.5em;
		text-shadow: #000 1px 0 20px;
	}
}

@media screen and (max-width: 858px) {
	.services {
		grid-template-areas: 
		"service-1"
		"service-2"
		"service-3"
		"service-4"
		!important;
    }
}

@media screen and (max-width: 600px) {
	.portfolio-card {
		background-image: none !important;
		background: #FFF;
		height: 22em;
		margin: 1em;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;
		border-radius: .5em;
		overflow: hidden;
		width: 15em;
		padding: 0;
		box-shadow: 0px 0px 29px -14px rgba(0,0,0,0.75);
		-webkit-box-shadow: 0px 0px 29px -14px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 29px -14px rgba(0,0,0,0.75);
		img {
			display: block;
			width: 15em;
			top: 0;
			width: 15em;
		}
		h5 {
			font-size: 1.5em;
			margin-bottom: 15px;
			text-shadow: none;
		}
		a {
			transform: scale(70%);
			margin: 0.5em;
			box-shadow: none;
		}
	}
}

@media screen and (max-width: 500px) {
	.service {
		div {
			margin: 0;
			img {
				@include size(3em, 3em);
			}
			h5 {
				font-size: 1.5em;
			}
		}
		p {
			margin: 0;
		}
	}
}