#work {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    h2 {
        margin: 1em 0em;
    }
    h3 {
        margin: 1em;
        color: $color3;
    }
}
.services {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    div {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
    }
}
.service {
    @include size(30em, 30em);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 1em;
    img {
        @include size(5em, 5em);
        margin: 1em;
    }
    h5 {
        font-size: 2em;
        color: $color3;
    }
    p {
        font-size: 1.3em;
        color: $color4;
    }
}